@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto+Mono:wght@500&family=Silkscreen&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background-color: #3B9AE1; */
    background-image: url(https://i.postimg.cc/BnzMzNYy/Marmotamaps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 90px;
}

.principal {
    background-color: #ffffff3d;
    box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    margin: 0px 90px 90px 90px;
    backdrop-filter: blur(20px);
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 310px 310px 310px;

}

.contenedor {
    background-color: #3b99e13b;
    box-shadow: 0px 0px 30px 2px rgb(253, 253, 253);
    border-radius: 20px;
    margin: 20px 10px 10px 10px;
    padding: 30px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
    border-radius: 20px;
}

p {
    width: 240px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

.boton {
    background-color: #3020e0;
    color: #FFFFFF;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    width: 240px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

@media(max-width: 1150px) {
    body {
        padding-top: 30px;
    }

    .principal {
        padding: 10px;
        margin: 50px 100px 20px 100px;
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-template-columns: 350px 350px;
    
    }
    
    .contenedor {
        background-color: #3b99e13b;
        box-shadow: 0px 0px 30px 2px rgb(253, 253, 253);
        border-radius: 20px;
        margin: 60px 20px 30px 20px;
        padding: 10px 10px 30px 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    img {
        width: 250px;
        border-radius: 20px;
    }
    
    p {
        width: 250px;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }
    
    h1 {
        font-family: 'Roboto Mono', monospace;
    }
    
    .boton {
        background-color: #3020e0;
        color: #FFFFFF;
        padding: 10px;
        margin: 20px 0px 0px 0px;
        width: 250px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'Nunito Sans', sans-serif;
    }
}

@media(max-width: 902px) {
    body {
        padding-top: 30px;
    }

    .principal {
        padding: 50px 0px 50px 0px;
        margin: 50px 100px 50px 100px;
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-template-columns: 350px;
    
    }
    
    .contenedor {
        background-color: #3b99e13b;
        box-shadow: 0px 0px 30px 2px rgb(253, 253, 253);
        border-radius: 20px;
        margin: 30px 0px 30px 0px;
        padding: 10px 10px 30px 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    img {
        width: 250px;
        border-radius: 20px;
    }
    
    p {
        width: 250px;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }
    
    h1 {
        font-family: 'Roboto Mono', monospace;
    }
    
    .boton {
        background-color: #3020e0;
        color: #FFFFFF;
        padding: 10px;
        margin: 20px 0px 0px 0px;
        width: 250px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'Nunito Sans', sans-serif;
    }
}

@media(max-width: 688px) {
    .principal {
        padding: 10px;
        margin: 0px 100px 20px 100px;
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-template-columns: 300px;
    
    }
    
    .contenedor {
        background-color: #3b99e13b;
        box-shadow: 0px 0px 30px 2px rgb(253, 253, 253);
        border-radius: 20px;
        margin: 30px 0px 30px 0px;
        padding: 10px 10px 30px 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}


@media(max-width: 600px) {
    body {
        padding-top: 30px;
    }

    .principal {
        padding: 10px;
        margin: 0px 10px 20px 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-template-columns: 300px;
    
    }
    
    .contenedor {
        background-color: #3b99e13b;
        box-shadow: 0px 0px 30px 2px rgb(253, 253, 253);
        border-radius: 20px;
        margin: 30px 0px 30px 0px;
        padding: 10px 10px 30px 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    img {
        width: 250px;
        border-radius: 20px;
    }
    
    p {
        width: 250px;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }
    
    h1 {
        font-family: 'Roboto Mono', monospace;
    }
    
    .boton {
        background-color: #3020e0;
        color: #FFFFFF;
        padding: 10px;
        margin: 20px 0px 0px 0px;
        width: 250px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'Nunito Sans', sans-serif;
    }
}

@media(max-width: 436px) {
    body {
        padding-top: 30px;
    }

    .principal {
        background-color: #ffffff00;
        box-shadow: none;
        padding: 10px;
        margin: 0px 10px 20px 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-template-columns: 300px;
        backdrop-filter: none;
    
    }
    
    .contenedor {
        background-color: #3b99e13b;
        box-shadow: 0px 0px 30px 2px rgb(253, 253, 253);
        border-radius: 20px;
        margin: 30px 0px 30px 0px;
        padding: 10px 10px 30px 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
    }
}
